body,
html {
  padding: 0 0;
  margin: 0 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* App css */
.wrapper {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  margin-top: 25px;
}

/* Components */
/* Browser Header css */
.browser-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-bottom: lightgray 1px solid;
  padding: 15px;
  color: white;
  
}

.left-section {
  display: flex;
  align-items: center;
  width: 70%;
}

.right-section {
  display: flex;
  align-items: center;
}

.url-input {
  border: none;
  background-color: #e3e3e3;
  padding: 7.5px;
  border-radius: 10px;
  width: 100%;
  margin-right: 5px;
}

.search-button {
  background-color: #1a936f; /* Button background color (green) */
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

.extension {
  height: auto;
  width: 30px;
  cursor: pointer;
}

/* Tc component  */

.tc-container {
  margin: 0 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  overflow-y: scroll; /* Enable vertical scrolling */
  min-height: 450px; /* Adjust the height as needed */
  width: 40%;
}

.tc-content {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.6;
}

/* contract compass */
/* Add your CSS styles for the contractCompass component here */

.compass-container {
  display: flex;
  flex-direction: column;
  min-height: 350px;
  margin-left: 10px;
  padding: 10px;
  width: 35%;
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.compassHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo{
  height: auto;
  width: 100px;

}


.close-btn {
  background-color: #ff6666;
  color: white; 
  border: none; 
  border-radius: 50%; 
  display:block;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  font-size: 12px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.close-btn:hover {
  background-color: #ff0000; /* Darker red color on hover */
}


.compass-content {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}


.summary-textbox {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  max-height: 200px; /* Adjust the maximum height as needed */
  min-height: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.6;
  resize: none;
  overflow-y: auto;
  margin: 15px 0px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}



.startSummaryBtn {
  background-color: #1a936f;
  color: white; 
  border: none; 
  display:block;
  padding: 10px 22.5px;
  border-radius: 10px;
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
  align-self: center;
}

.startSummaryBtn:hover {
  background-color: #1a936f; /* Darker red color on hover */
}



.scoreWrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid lightgray;
  background-color: transparent;
  color: black;
  padding: 5px;
}

.loading-spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #007BFF; /* Choose your preferred color */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media (max-width: 900px) {
  /* Media query for screens with a maximum width of 768px (typical for mobile devices) */

 .wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  
 }

 .browser-header{
  margin-bottom: 40px;
  width: 100%;
 }

 .compass-container{
  width: 100%;
  margin-bottom: 50px;
 }

 .tc-container{
  width: 100%;
 
 }

}
